
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');

.App{
  background-color: #89A2FA;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.custom{
  background-color: #89A2FA;
}
.fontBrand{
  font-size: 2rem;
}

.bottomBorder{
  border-bottom: #ffffff 2;
}

.size-adjust{
  width: 20rem;
  height: 15rem;
  margin-top: 2rem;
}